//
// Set
// ---------------------------------------
    
// Imports
@import "../../lib/flag-icon/less/flag-icon.less";

// Variables
@flag-icon-css-path: '../../lib/flag-icon/flags';
@flag-icon-rect-path: '/4x3';
@flag-icon-square-path: '/1x1';


// 
// ---------------------------------------